:root{
  --choco:#884A39;
  --gold:#F9E0BB;
  --white:white;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 70px;
  height: 70px;
}

.nav{
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 10%;
}

.nav-menu{
  width: 50%;
}

.nav .nav-items{
  list-style: none;
  display: flex;
  width:100%;
  justify-content: space-between;
}

.nav .nav-items a{
  text-decoration: none;
}