:root{
  --choco:#180602;
  --gold:#ceab5a;
  --white:white;
}
header{
  background-color: #180602a8;
  position: fixed;
  z-index: 99;
  height:95px;
}

.topics{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;

}

.logo{
  display: flex;
  align-items: center;
  color: var(--gold);

}

.logo img{
  width: 70px;
  height: 70px;
  
}


body{
  position: relative;
  background-color: #180602;
  /* background-color: #ffffff; */

  height: fit-content;
  overflow-x:hidden;
}
   
/* ===================== Navbar ================== */

.nav{
  height: fit-content;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 10%;
}

.nav-menu{
  width: 50%;
  display: block;
  align-items: center;
}

.nav .nav-items{
  list-style: none;
  display: flex;
  width:100%;
  justify-content: space-between;
}

.nav .nav-items a{
  text-decoration: none;
  color:var(--gold);
}

.nav i{
  font-size: 30px;
  display: none;
}


@media only screen and (max-width: 768px) {
  
  .nav i{
    display: block;
  }

  .nav-menu{
    display: none;
  }
  .nav{
    margin-left: 0;
    padding: 20px;
  }
}
/* ===================== Hero ================== */


.hero{
  width: 100%;
  height:600px;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items:center; */
  text-align: center;
  /* background-color: #dadfd3; */
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index:-3;
}

.hero-heading{
  position: absolute;  
  bottom: 150px;
  color:var(--white);
  letter-spacing: 20px;
}

.hero .button {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: end;
  text-align:center;
  margin-bottom: 50px;
}

.hero .button a{
  width: 150px;
  text-decoration: none;
  color: var(--gold);
  padding: 10px;
  border: 2px solid var(--gold);
  border-radius: 10px;
}


/* ===================== Category ================== */

.category{
  width:100%;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
  color: #ceab5a;
  background-color:transparent;
}

.category .row{
  width:80%;
  padding:20px;
  border-radius: 20px;
  margin-left:10%;
  height: fit-content;
  display: flex;
  margin-top: 20px;
  background-color: antiquewhite;
}
.category .col{
  color: black;
  font-weight:bold;
}
.category .col img{
  width: 100px;
  height: 100px;
  border-radius:50px;
  margin: 5px;
  border: 3px solid var(--gold);
}
.category col:hover{
  transition: 0.5s;
  transform: scaleY(1.5);
}


.carousel{
  width: 100%;
  /* background: #000; */

}

/* ===================== Menu ================== */
.Menu{

  position: relative;
  overflow: hidden;
  margin-top: 50px;

}


.Menu .menu-row{
  width: 100%;
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  overflow-x: scroll;
  margin-top: 50px;

  gap: 50px;
}

.Menu .menu-row::-webkit-scrollbar{
  display: none;
}
.Menu .col{
  width: 300px;
  gap: 50px;
}

.Menu .col p{

  color: white;
  font-size:20px;
  font-weight: 700;
}


.Menu .col img{
  width: 250px;
  height: 300px;
  border-radius: 20px;
  border: 2px solid var(--gold);
}

.Menu .button a{
  width: 150px;
  text-decoration: none;
  color: var(--gold);
  padding: 10px;
  border: 2px solid var(--gold);
  border-radius: 10px;
  text-align: center;
}

.Menu .button{
  margin-top:20px;
  width: 100%;
  display: flex;
  justify-content: center;
}


/* ===================== about ================== */

.about{
  height: fit-content;
  margin-top: 50px;

}

.about .button a{
  width: 150px;
  text-decoration: none;
  color: var(--gold);
  padding: 10px;
  border: 2px solid var(--gold);
  border-radius: 10px;
  text-align: center;
}


.about .button{
  margin-top:20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .about .row {
  height: fit-content;
  display: flex;
  align-items: center;
  
  text-align: left;

} */

.about .row p{
   
  color:white;
}



.about .topics{
  justify-content: center;
  color: #ceab5a;
  margin: 100px;

}


/* ===================== Our Work ================== */

.works{

  margin-top: 100px;
  color: #ceab5a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.works h2{

  /* margin: 20px; */


}
.works .collage .row div{
  display: flex;
  justify-content: center;
}
.works .collage{

  margin-top: 100px;

}
.works .collage img{
  width:350px;
  border-radius: 20px;
  padding: 10px;
}

/* ===================== Testimonials ================== */

h2,
h3 {
  font-weight: 700;
}

.section-padding {
  padding: 80px 0;
  margin-top: 100px;

}

.section-title {
  text-align: center;
  margin-bottom: 60px;
  color: #ceab5a;
}

.section-borders span {
  height: 5px;
  background: var(--gold);
  width: 40px;
  display: inline-block;
  border-radius: 2px;
}

.section-borders span.black-border {
  width: 30px;
  margin: 0 6px;

}

.client-testimonial-carousel .owl-dots button {
  height: 5px;
  background: var(--gold)!important;
  width: 20px;
  display: inline-block;
  margin: 5px;
  transition: .2s;
  border-radius: 2px;
}

.client-testimonial-carousel{
  margin-top: 100px;
}

.client-testimonial-carousel button.owl-dot.active {
  background: #ffffff !important;
  width: 30px;
}

.client-testimonial-carousel .owl-dots {
  text-align: center;
  margin-top: 25px
}



.single-testimonial-item {
  position: relative;
  box-shadow: 0 0 2px #dadfd3;
  margin: 2px;
  padding: 20px;
  font-style: italic;
  padding-left: 85px;
  border-radius: 20px;
  color: white;
  text-align: center;

}

.single-testimonial-item:before {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 20px;
  color:var(--gold);
  line-height: 30px;
  margin-top: -15px;
}

.single-testimonial-item:after {
  content: "";
  height: 70%;
  left: 60px;
  position: absolute;
  top: 10%;
  width: 1px;
}

.single-testimonial-item h3 {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 0;
  color: #ceab5a;
}

.single-testimonial-item h3 span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
}
/*===================== Details ======================== */

.contact{
  margin-bottom: 100px;
  overflow: hidden;
}

.details img {
  width: 400px;
}

details{
  background-color: #a7fa33;

}

.details .img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.details .details-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.details .details-content h3{
  margin-bottom: 30px;
}

.details .chat{

  display: flex;
  gap: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.details .details-content .or{
  color: #ceab5a;
  margin: 20px;
}



.details .chat-content button{
  width: 320px;
  height: fit-content;
  font-size: x-large;
  border-radius:10px;
  background: #33ff00;
  color: #fff;
  border:none;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.details .call-content button{
  width: 320px;
  height: fit-content;
  font-size: x-large;
  border-radius:10px;
  background: #219bff;
  color: #fff;
  border:none;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.details .chat-content button i{

  font-size: xx-large;
}



/* ===================== Footers ================== */


.footer{
	background:#0f0301ce;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  color:#fff!important;
  overflow: hidden;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer .footer-left{
	width: 40%;
  text-align: center;
}


.footer h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer h3 span{
	color:  teal;
}

/* Footer links */

.footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-name{
  color: teal;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  teal;
	text-decoration: none;;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right{
	width: 20%;
}

.footer .footer-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-socials{
	margin-top: 25px;
}

.footer .footer-socials a{
	display: inline-block;
	font-size: 35px;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.footer img {
    max-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-bottom: 15px; */

}


@media (max-width: 800px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}

}

/* ====================== Product =============================== */

.products{

  margin: 50px;
}
.products .topics{

  color: #ceab5a;
}
.products .product-header{
  max-width: 500px;
  padding: 5px;
}

.products .product-headers{

  display: flex;
  justify-content: space-between;
}

.product-card {
  margin-bottom: 30px;
  background-color: #4b2709;
  border-radius: 10px;
  color: #fff;
}
.product-img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  color:#ceab5a;
  background-color: #4b2709b9;
  padding: 5px 10px;
  border-radius: 5px;
}
.rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color:#ceab5a;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}
.discounted-price {
  color:#ceab5a;
  text-decoration: line-through;
}
